@import 'tailwindcss';

@keyframes rotate-right-to-left {
  0%,
  100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}

.animate-card {
  animation: rotate-right-to-left 1s ease-in-out infinite;
}

.content-main {
  @apply grid h-screen bg-gradient-to-tl from-yellow-500 to-green-500 p-4 font-mono text-sm sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4;
}

.font-custom {
  @apply text-4xl font-bold text-gray-600;
}
